.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  widows: auto;
  width:auto;
  height: 100vh;
}

.zip{
  padding-left: 5px;
  font-family: 'Varela Round', "Helvetica Neue" sans-serif;
}
.submit{
  font-family: 'Varela Round', "Helvetica Neue" sans-serif;
}

.local-weather{
  font-size: 4vh;
}



/* 117AAE do a bottom to top gradient with this color maybe lighter? */