.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}

.future{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    height: 30vh;
    font-size: 3.3vh;
    margin: 10px;
}


.minmax{
    display: flex;
    justify-content: center;
}

.today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
    height: 57vh;
}

.date{
    font-size: 4vh;
}



.current-temp{
    font-size: 8vh;
    height: 14%;


}

.current-description{
    font-size: 6vh;
}

.current-minmax{
    font-size: 3.5vh;
}

.humidity{
    font-size: 3.5vh;
}



.future-date{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}



.weather-description{
    display: flex;
    justify-content: center;
    align-items: center;
}


.border{
    height: 100%;
    border: rgba(225, 225, 225, .4) 1px solid;
}